In [7]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\poson\anaconda2\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\poson\anaconda2\lib\site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\poson\anaconda2\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\poson\anaconda2\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\poson\anaconda2\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: bs4 in c:\users\poson\anaconda2\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\poson\anaconda2\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\poson\anaconda2\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [8]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [9]:
product_name=input("enter your product name:")

enter your product name:iphone14

In [15]:
dictionary={}
product_names=[]
prices=[]
ratings=[]
reviews=[]
num_of_ratings=[]
for i in range(1,8):
    url="https://www.flipkart.com/search?q={}&page={}".format(product_name,i)
    scrap=bs(requests.get(url).text)
    for name in scrap.find_all("div",class_="_4rR01T"):
        product_names.append(name.text)
    for price in scrap.find_all("div",class_="_30jeq3 _1_WHN1"):
        prices.append(price.text)
    for rating in scrap.find_all("div",class_="_3LWZlK"):
        ratings.append(rating.text)
    for review in scrap.find_all("span",class_="_2_R_DZ"):
        reviews.append(review.text.split("\xa0&\xa0")[-1])
        num_of_ratings.append(review.text.split("\xa0&\xa0")[0])
        
else:
    dictionary={"product_names":product_names,"prices":prices,"reviews":reviews,"no. of ratings":num_of_ratings}

In [11]:
print(len(product_names),len(prices),len(ratings),len(reviews))

168 168 261 168

In [13]:
num_of_ratings

['30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '30,247 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,080 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,080 Ratings',
 '9,135 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '1,197 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,197 Ratings',
 '9,135 Ratings',
 '1,197 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '1,197 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '9,135 Ratings',
 '1,080 Ratings',
 '1,197 Ratings',
 '1,080 Ratings',
 '1,080 Ratings',
 '1,91,819 Ratings',
 '1,91,819 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,88,481 Ratings',
 '1,88,481 Ratings',
 '1,88,481 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,88,481 Ratings',
 '1,88,481 Ratings',
 '1,54,127 Ratings',
 '17 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,91,819 Ratings',
 '1,88,481 Ratings',
 '1,27,607 Ratings',
 '1,54,127 Ratings',
 '1,54,127 Ratings',
 '1,27,607 Ratings',
 '1,00,759 Ratings',
 '1,00,759 Ratings',
 '1,307 Ratings',
 '1,45,551 Ratings',
 '1,27,607 Ratings',
 '1,27,607 Ratings',
 '1,27,607 Ratings',
 '1,307 Ratings',
 '9,135 Ratings',
 '9,135 Ratings',
 '1,080 Ratings',
 '17 Ratings',
 '9,135 Ratings',
 '1,197 Ratings',
 '1,197 Ratings',
 '1,080 Ratings',
 '1,91,819 Ratings',
 '1,91,819 Ratings',
 '1,27,607 Ratings',
 '1,88,481 Ratings',
 '1,27,607 Ratings',
 '1,88,481 Ratings',
 '1,27,607 Ratings',
 '1,00,759 Ratings',
 '1,307 Ratings',
 '1,45,551 Ratings',
 '1,54,127 Ratings',
 '1,27,607 Ratings',
 '1,00,759 Ratings',
 '1,54,127 Ratings',
 '1,27,607 Ratings',
 '1,307 Ratings',
 '1,54,127 Ratings',
 '1,27,607 Ratings',
 '1,27,607 Ratings',
 '17 Ratings',
 '1,27,607 Ratings',
 '1,54,127 Ratings',
 '1,45,551 Ratings',
 '1,45,551 Ratings',
 '1,307 Ratings',
 '1,54,127 Ratings',
 '1,45,551 Ratings',
 '1,00,759 Ratings',
 '1,307 Ratings',
 '1,91,819 Ratings',
 '1,00,759 Ratings',
 '1,27,607 Ratings',
 '1,307 Ratings',
 '1,27,607 Ratings',
 '1,27,607 Ratings',
 '1,00,759 Ratings',
 '1,00,759 Ratings',
 '1,307 Ratings',
 '1,88,481 Ratings',
 '1,45,551 Ratings',
 '1,307 Ratings',
 '1,00,759 Ratings',
 '1,88,481 Ratings',
 '49 Ratings',
 '1,00,759 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,27,607 Ratings',
 '1,00,759 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,266 Ratings',
 '1,88,481 Ratings',
 '1,266 Ratings',
 '1,307 Ratings',
 '1,00,759 Ratings',
 '1,00,759 Ratings',
 '1,266 Ratings',
 '1,307 Ratings']

In [17]:
poson=pd.DataFrame(dictionary)

In [18]:
poson

,product_names,prices,reviews,no. of ratings
0,"APPLE iPhone 14 (Midnight, 128 GB)","₹71,999","1,160 Reviews","30,247 Ratings"
1,"APPLE iPhone 14 (Blue, 128 GB)","₹71,999","1,160 Reviews","30,247 Ratings"
2,"APPLE iPhone 14 ((PRODUCT)RED, 128 GB)","₹67,999","1,160 Reviews","30,247 Ratings"
3,"APPLE iPhone 14 (Midnight, 256 GB)","₹81,999","1,160 Reviews","30,247 Ratings"
4,"APPLE iPhone 14 (Purple, 256 GB)","₹81,999","1,160 Reviews","30,247 Ratings"
...,...,...,...,...
163,"APPLE iPhone 12 (Purple, 128 GB)","₹56,999","12,808 Reviews","1,88,481 Ratings"
164,"APPLE iPhone 12 Pro Max (Silver, 512 GB)","₹1,23,299",102 Reviews,"1,266 Ratings"
165,"APPLE iPhone XR ((PRODUCT)RED, 128 GB)","₹41,699","8,553 Reviews","1,00,759 Ratings"
166,"APPLE iPhone 12 Pro Max (Gold, 256 GB)","₹1,04,799",102 Reviews,"1,266 Ratings"
167,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)","₹1,06,699",96 Reviews,"1,307 Ratings"

In [26]:
hello=pd.ExcelWriter('iphone14.xlsx')
poson.to_excel(hello,"1st")

In [27]:
hello.save()

C:\Users\poson\AppData\Local\Temp\ipykernel_11108\261665607.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  hello.save()

In [29]:
import os
os.getcwd()

'C:\\Users\\poson'